body{
    font-family: "Georgia";
}

ul {
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
header {
    height: 100vh;
    max-height: 768px;
    position: relative;
}
.carousel {
    height: 100%;
}
.carousel-inner {
    height: inherit;
}
.carousel-item {
    height: inherit;
}
.carousel-item:nth-child(1){
    background: url("../img/Dark.png") center no-repeat, url("../img/Img.png") center no-repeat;
    background-size: cover, cover;
}
.carousel-item:nth-child(2){
    background: url("../img/Dark.png") center no-repeat, url("../img/Img.png") center no-repeat;
    background-size: cover, cover;
}
.carousel-item:nth-child(3){
    background: url("../img/Dark.png") center no-repeat, url("../img/Img.png") center no-repeat;
    background-size: cover, cover;
}
.carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 7px;
    margin-left: 7px;
    background-color: transparent;
    border: 2px solid #fff;
}
.carousel-indicators .active{
    transform: scale(1.4,1.4);
    background: #fff;
}
.nav_header {
    background: rgba(212, 1, 25, 0.88);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-panel {
    display:flex;
    align-items: center;
}
.contacts-item {
    display: inline-flex;
    align-items: center;
}
.contacts-item {
    color: #fff;
    font-size: 15px;
}
.contacts-item i{
    margin-right: 20px;
}
.contacts-item:not(:last-child){
    margin-right: 80px;
}
.contacts-item__text {
    line-height: 20px;
}
.nav-panel a {
    color: #fff;
    font-size: 17px;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}
.nav-panel a:hover {
    text-decoration: underline;
}
.nav-panel li:not(:last-child) a{
    margin-right: 45px;
}
ul.sub-menu {
    display: none;
}
nav hr {
    border-top: 1px solid rgb(255, 255, 255);
    margin: 10px 0;
}
.main-title {
    color: #fff;
    font-size: 49px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.main-sub__text {
    color: #fff;
    font-size: 27px;
}
.hot-trip {
    background: #ffffff;
    padding-top: 100px;
    padding-bottom: 65px;
}
.section-title {
    color: #282828;
    font-size: 41px;
    margin-bottom: 25px;
}
.section-sub__text{
    font-size: 22px;
    margin-bottom: 92px;
}
.trip-item {
    position: relative;
    -webkit-box-shadow: 0 0 13px 5px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 13px 5px rgba(0,0,0,0.24);
    box-shadow: 0 0 13px 5px rgba(0,0,0,0.24);
}
.trip-item-rate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(37, 46, 55, 0.38);
    padding: 10px 15px;
}
.trip-item-likes span{
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
}
.trip-item-info {
    padding: 40px 15px 20px;
}
.trip-item-title{
    color: #191919;
    position: relative;
    padding-right: 140px;
}
.trip-item-hotel{
    font-size: 17px;
}
.trip-item hr {
    margin: 12px;
}
.trip-item-country {
    text-transform: uppercase;
    font-size: 14px;
}
.trip-item-price {
    text-transform: uppercase;
    position: absolute;
    top: calc(50% - 27px);
    right: 0;
    background: #252e37;
    color: #fff;
    font-size: 16px;
    padding: 15px 15px 15px 0;
}
.trip-item-price svg {
    margin-right: 15px;
}
.trip-item-price:before{
    content:"";
    display: inline-block;
    position: absolute;
    left: -54px;
    top: 0;
    border: 27px solid transparent; border-right: 27px solid #252e37; border-bottom: 27px solid #252e37;
}
.trip-item-ad-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.trip-item-date {
    color: #191919;
    font-size: 14px;
}
.trip-item-date span {
    text-transform: uppercase;
}
.btn-order {
    text-transform: uppercase;
    background: transparent;
    color: #252e37;
    border: 1px solid #c8cbcd;
    border-radius: 3px;
    font-size: 13px;
    padding: 13px 20px;
    margin-left: 15px;
}
.btn-order:hover{
    background: #cf1327;
    color: #fff;
    border: 1px solid #cf1327;
}
.trip-item-picture {
    width: 100%;
}
.show-more-link {
    color: #252e37;
    display: inline-flex;
    border: 1px solid #c8cbcd;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 20px;
    align-items: center;
}
.show-more-link:hover {
    background: #cf1327;
    color: #fff;
    border: 1px solid #cf1327;}

.show-more svg {
    color: #c8cbcd;
    margin-left: 10px;
}
footer {
    background: url("../img/footer_dark.png") center no-repeat, url("../img/footer_back.png") center no-repeat;
    background-size: cover, cover;
    padding-top: 55px;
    padding-bottom: 12px;
}
.f-contacts-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 25px;
}
.f-nav-panel li{
    list-style: initial;
    color: #fff;
}
.f-nav-panel li a {
    color: #fff;
    font-size: 17px;
}
.social-networks {
    color: #fff;
}
.social-networks-title {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 42px;
}
.social-networks-sub__text {
    margin-bottom: 38px;
}
footer .col-lg-4>div{
    border: 1px solid #c8cbcd;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px 15px 20px;
}
.director-info {
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    display: flex;
    align-items: flex-start;
    color: #fff;
    padding-top: 20px;
}
.director-picture {
    border: 1px solid #fff;
    padding: 3px;
    margin-right: 45px;
}
.network-item {
    margin: 0 10px;
}
.copyright {
    color: white;
    margin-top: 27px;
    font-size: 14px;
}
.show-more {
    margin-top: 50px;
}
@media screen and (max-width: 1200px){
    .nav-panel{
        display: block;
    }
    .nav-bars {
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bars:hover {
        color: #cbcbcb;
    }
    .contacts-item{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .nav-mobile {
        position: absolute;
        top: 100%;
        width: 100%;
        max-width: 300px;
        right: -300px;
        background: rgb(212, 1, 25);
        z-index: 100;
        transition: right 0.3s linear;
        overflow-y: scroll;
    }
    .nav-mobile.active {
        right: 0px;
    }
    .main-title {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .main-sub__text {
        font-size: 24px;
    }
    .hot-trip {
        padding-top: 60px;
        padding-bottom: 45px;
    }
    .section-title {
        font-size: 32px;
        margin-bottom:15px;
    }
    .section-sub__text{
        font-size: 19px;
        margin-bottom: 50px;
    }
    .trip-item {
        max-width: 400px;
        margin: 0 auto 30px;
    }
}
@media screen and (max-width: 992px){
    footer .col-lg-4:not(:last-child){
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 576px){
    .main-title {
        font-size: 32px;
    }
    .main-sub__text {
        font-size: 22px;
    }
    .section-title {
        font-size: 26px;
    }
    .section-sub__text{
        font-size: 17px;
    }
}